.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.todoContainer{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 40px;
}

form {
  display: flex;
  height: 50px;
  justify-content: center;
}

input ,form button {
  margin: 0;
  border-radius: 0;
  border: none;
  font-size: 1em;
  border-bottom: .01em solid #1d3c42;
}

input {
  flex-basis: 80%;
  padding-left: 10px;
}

form button {
  padding: 0 10px;
  flex-basis: 20%;
  background-color:#1d3c42;
  color: #fff;
}

ul {
  display: flex;
  flex-direction: column;
  height: 50px;
  flex-basis: 100%;
  justify-content: space-between;
  align-content: center;
  margin: 0;
  padding: 0;
}

.todoItem {
  display: flex;
  align-items: center;
  /* justify-self: flex-end; */
  flex-basis: 100%;
  padding: 10px 0px;
  background-color:#d9e7de;
  color: #757575;
  border-bottom: .01em solid #1d3c42;
  font-size: 1em;
  padding-left: 10px;
  font-weight: 500;
}

/* this.state.listClass ===  */
.todoItemDone {
  font-size: 1em;
  line-height: 1em;
  position: relative;
  padding: 0 5px;
}

.todoItemDone::after {
  border-bottom: 1em solid rgba(0, 0, 280, 0.35);
  content: "";
  left: 0;
  line-height: 1em;
  margin-top: calc(0.225em / 2 * -1);
  position: absolute;
  right: 0;
  top: 20%;
  padding: 0 17px;
  transform: skew(-20deg);
  border-radius: 5px;
}

.todoBtn {
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: #d9e7de;
  border: 2px solid #1d3c42;
  font-size: .8em;
} 

.todoBtnDone {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  padding: 4px 7px;
  margin-right: 10px;
  border: none;
  color: #d9e7de;
  background-color: #1d3c42;
  font-size: .8em;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
